<h1>Editing Book</h1>
<% if @book.errors.any? %>
 <%= @book.errors.count %>error prohibited this book from being saved:
 <ul>
   <% @book.errors.full_messages.each do |message|%>
    <li><%= message %></li>
   <% end %>
 </ul>
<% end %>

<%= form_with model:@book do |f|%>

<div class="edit_area">
 <p>Title</P>
 <div class="edit_title"><%= f.text_field :title %></div>
 
 <P>Body</P>
 <div class="edit_body"><%= f.text_area :body %></div>
 
 <div class="edit_book"><%= f.submit'Update Book'%></div>
 <% end %>
</div> 
 
<%= link_to"Show",book_path(@book.id)%>
 <span> | <a href="/books">Back</a></span>
<!--showのリンクを追加する-->