<h1>Books</h1>

<table>
 <thread>
  <tr>
   <th>Title</th>
   <th>Body</th>
   <th colspan="3"></th>
  </tr>
 </thread>
 <tbody>
  <% @books.each do |f|%>
  <td><%= f.title %></td>
 <!--タイトルを表示させる、id番号で呼び出す-->
  <td><%= f.body %></td>
  <!--ボディを表示させる、id番号で呼び出す-->
  <!--show edit destroyのリンクを貼る-->
  <% end %>
 </tbody>
</table>


<% if @book.errors.any? %>
 <%= @book.errors.count %>error prohibited this book from being saved:
 <ul>
   <% @book.errors.full_messages.each do |message|%>
    <li><%= message %></li>
   <% end %>
 </ul>
<% end %>

<%= form_with model:@book do |f|%>
 <h2>New Book</h2>
 <p>Title</p>
 <%= f.text_field :title %>
 <p>Body</p>
 <%= f.text_area :body %>
 </br><%= f.submit'Create Book'%>
<% end %>
